# Servidor
PORT=8080
ENV=development

# Base de dados (adicionado no Módulo 03)
# DATABASE_URL=postgres://user:password@localhost:5432/gorm_crm?sslmode=disable

# MongoDB (adicionado no Módulo 09)
# MONGODB_URL=mongodb://localhost:27017
# MONGODB_DB=gorm_crm_logs

# Redis (adicionado no Módulo 17)
# REDIS_URL=redis://localhost:6379

# JWT (adicionado no Módulo 06)
# JWT_SECRET=change-me-in-production
# JWT_EXPIRY_HOURS=24
# JWT_REFRESH_EXPIRY_DAYS=7
